html{
    background-color: #1d1d1f;
}
body {
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color:  black;
    font-family: font-regular;
    color: white;
}
.container {
    background-image: url(/resources/first-page/imgs/background.jpeg);
    background-size: cover;
}
.main-head a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    z-index: 99999999999;
}
nav{
    width: 100%;
    margin: 0;
}
.main-head {
    max-width: 980px;
    width: 100%;
    margin: 40px auto;
    padding: 0px;
    background-color: transparent;
    border-radius: 20px;
}
.heading-container{
    width: 100%;
    margin-bottom: 10px;
}
.heading-div{
    background-color: #1d1d1f75;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    letter-spacing: 0px;
    font-size: 30px;
}
.button-container{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.unit-button{
    background-color: #1d1d1f75;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    letter-spacing: 0px;
    font-size: 25px;
}
.button-container a:hover .unit-button{
    background-color: #1d1d1fab;
}
.footnote {
    padding-bottom: 10px;
    border-bottom: solid;
    border-color: rgb(81, 81, 84);
    border-width: 1px;
    font-size: 14px;
}
.footnote a {
    color: #226eb6;
}
.footnote a:hover{
    text-decoration: underline;
}
.footer-text {
    padding-top: 15px;
}

@media screen and (max-width: 825px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-head{
        display: block;
        max-width: 980px;
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .heading-div{
        background-color: #1d1d1f75;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 15px;
        padding: 20px;
        letter-spacing: 0px;
        font-size: 25px;
    }
    .button-container{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .unit-button{
        background-color: #1d1d1f75;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 15px;
        padding: 20px;
        letter-spacing: 0px;
        font-size: 20px;
    }
    .button-container a:hover .unit-button{
        background-color: #1d1d1fab;
    }
    .footnote {
        font-size: 14px !important;
        line-height: 20px;
    }
}